
.About{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    background-color: white;

    position: relative;

    height: 100vh;
    
}

.aboutTitle{

    margin-top: 30px;

    height: 10%;
    width: 20%;

    font-family: 'Radio Canada Big',Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
    color: rgb(35, 34, 34);

    transition: font-size 0.5s ease
}


.aboutTitle:hover{
    font-size: 2.4rem;
}

.aboutTitle > span{
    color: #121295;
}

.aboutTitle > hr{
    background: #00008B;
}

.aboutMeTitle{
    font-weight:100;
    color: rgb(22, 22, 22);
    
    margin-bottom: 25px;
}

.aboutMe{
    height: 40%;
    width: 30%;

    font-family: 'Radio Canada Big',Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgb(63, 60, 60);

    transition: font-size 0.5s ease
}

.aboutMe:hover{
    font-size: 1.6rem;
}

