
.contactMe{
    display: flex;  
    justify-content: flex-end;

    position: fixed;
    bottom: 60px;
    right: 100px;
    z-index: 9999;

    font-family: 'Ubuntu Sans', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;

    width: 100%;

    cursor:pointer;

}

.contactMe > a{
    text-decoration: none;

    border: #00008B solid 50%;

    cursor: pointer;

    font-size: 1.4rem;
    font-weight: 500;

     color: black;

     transition: font-size 0.5s ease
}

.contactMe > a:hover{
    font-size: 1.6rem;
}

.contactMe > img{
    width: 40px;
    height: 40px;
}