
.searchHeader{
    display: flex;  
    justify-content: flex-end;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;

    font-family: 'Ubuntu Sans', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;

    width: 100%;

    transition: background-color 1s ease;
}

.searchHeader > a{

    text-decoration: none;
    font-weight: 500;

    padding-top: 10px;
    margin-right: 70px;

    cursor: pointer;
    transition: font-size 0.5s ease

}

.searchHeader > a:hover{
    font-size: 1.3rem;
}

.searchHeader > a > p{
    color: white;

    font-weight: 1000px;
    
}

.imageHeader{
    display: flex;
    position: absolute;
    left:10px;
 
    font-family: 'Ubuntu Sans', Arial, Helvetica, sans-serif;
 
    color: white;
    cursor: pointer;
 }
 
 .imageHeader > h4 { 
     padding-left: 20px;
     margin-top: 20px;
 
     font-size: 1.3rem;
     font-weight: 500;
     transition: font-size 0.5s ease;
     cursor:pointer;

 }

 .imageHeader >h4:hover{
    font-size: 1.6rem;
 }
 
 .imageHeader > img{
     width: 65px;
     height: 65px;
 
     margin-top: 10px;
 }
